@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #edda0eea;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #212435;
  color: #acafcc;
  font-size: 15px;
  line-height: 1.3;
}

h1 {
  color: var(--text-color);
  font-size: 30px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
}

h3 {
  font-size: 15px;
  margin-bottom: 2px;
}
th {
  text-align: left;
}
ul {
  list-style-type: none;
}

a {
  color: #ccc;
  text-decoration: none;
}

p {
  margin: 20px 0;
}

nav {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: #ccc;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #acafcc;
  color: #070d3a;
  text-align: center;
}
.container {
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-body {
  background: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}
